{% extends 'navbarClienteReg.html' %}

{% block title %}
    Perfil de Usuario{% endblock title %}

{% block content %}
    <blockquote class="blockquote text-center">
        <br><br><br>
        <h1 class="text-white" style="background-color: #B19CD9;"> Perfil de Usuario </h1>
    </blockquote>
    <h2 class="text-left">Datos del Cliente</h2><br>
    <h5> Nombre:</h5><br>
    <h5> Correo electrónico:</h5><br>
    <h2>Mis Mascotas</h2><br>
    <p> Actualmente no cuenta con mascotas agregadas. Para agregar una mascota, haz click en el botón de más abajo</p>

    <a href="add_pet" class="btn btn-success">Agregar Mascota</a>




{% endblock content %}
