
{% extends 'navbarCliente.html' %}

{% block title %}
Registro completo{% endblock title %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<h1><p class=" text-center font-weight-light"style="background-color: #51D1F6;">Registro Completo! </h1></p>

<h2> Gracias por registrarte.</h2>
<p> Estimado/a {{ nombre }} {{ apellido }}, ahora estás registrado.
    Revisa tu correo electrónico {{ email }} para activar tu cuenta.<br>
    Luego, por favor, inicia sesión en la plataforma para poder acceder a los servicios de nuestro centro veterinario.
</p>

{% endblock content %}
