{% extends 'base.html' %}

{% block body %}
    <style>
        .stick-to-right {
            width: 250px;
            float: right;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6c4675;">
        <a class="navbar-brand" href="#">LaSos Pet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homeCliente' %}">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Ingreso de Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'agenda' %}">Agenda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'shopping_cart' %}">Carrito de Compras</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>

                <!--<div class="form-group">
                 <button type="submit" class="btn btn-primary">Backoffice</button>
                </div>-->

            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

{% endblock body %}

<form action="" method="POST">
    ... inputs ...
</form>