{% extends 'navbarEmpresa.html' %}

{% block title %}
Inventario
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Inventario Productos y Medicamentos - LaSos Pet</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
  <h1><p class=" text-center font-weight-light"style="background-color: #51D1F6;">Elemento agregado </h1></p>
<!-- En este segmento debemos indicarle al formulario qué hacer cuando se hace clic en el botón submit -->
       
</div>

{% endblock content %}