{% extends 'navbarEmpresa.html' %}

{% block title %}
Inicio
{% endblock title %}

{% block content %}

<br>

<blockquote class="blockquote text-center">
	<h1 class="text-white" style="background-color: #B19CD9;"> LaSos Pet </h1>

	<h1 class="font-weight-light" style="background-color: #E0F7FA;">¿Quiénes Somos?</h1>
	<br>
	<br>
	<br>
	
	<p class="lead text-primary"><strong>
	Somos una clínica veterinaria y peluquería canina, que ofrece los mejores servicios de atención en salud y cuidado estético de los regalones de la casa: nuestras mascotas
	</strong></p>
	<br>
	
	<h5> <p class="text-primary"><em>
	Te invitamos a ser parte de nuestra comunidad que ama a los animales, al brindarle a tu mascota todo el cuidado que necesita, mediante una consulta previamente agendada con uno de nuestros médicos de excelencia.</em></p>
	</h5>
	</p>

</blockquote>
<br><br><br><br><br><br><br><br><br><br>
<!--<ul>-->
<address class="text-white"style="background-color: #B19CD9;">
	<div class="container">
  		<div class="row">
    		<div class="col"><strong>Dirección</strong></div>
   			<div class="col"><strong>Teléfono de Contacto</strong></div>
   			<div class="col"><strong>Horario de Atención</strong></div>
   			<div class="w-100"></div>
   			<div class="col">Huérfanos #1669, Local 1</div>
   			<div class="col">+562-32793176</div>
   			<div class="col">Lunes a viernes de 11:00-20:00 hrs</div>
   			<div class="w-100"></div>
   			<div class="col">Comuna de Santiago, Santiago, Chile</div>
   			<div class="col"></div>
   			<div class="col">Sábados de 11:00-19:00 hrs</div>
   			<div class="w-100"></div>
   			<div class="col"></div>
   			<div class="col"></div>
   			<div class="col">Domingos y festivos: cerrado</div>
 		 </div>
	</div>

</address>
{% endblock content %}




